//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Wed 05 14 23:56:42 2025

IO_LOC "led20" 20;
IO_PORT "led20" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led19" 19;
IO_PORT "led19" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led18" 18;
IO_PORT "led18" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led17" 17;
IO_PORT "led17" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led16" 16;
IO_PORT "led16" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led15" 15;
IO_PORT "led15" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_DEN" 48;
IO_PORT "LCD_DEN" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_CLK" 77;
IO_PORT "LCD_CLK" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_VSYNC" 26;
IO_PORT "LCD_VSYNC" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_HSYNC" 25;
IO_PORT "LCD_HSYNC" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_B[4]" 27;
IO_PORT "LCD_B[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_B[3]" 28;
IO_PORT "LCD_B[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_B[2]" 29;
IO_PORT "LCD_B[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_B[1]" 30;
IO_PORT "LCD_B[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_B[0]" 31;
IO_PORT "LCD_B[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_G[5]" 32;
IO_PORT "LCD_G[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_G[4]" 33;
IO_PORT "LCD_G[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_G[3]" 34;
IO_PORT "LCD_G[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_G[2]" 35;
IO_PORT "LCD_G[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_G[1]" 36;
IO_PORT "LCD_G[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_G[0]" 37;
IO_PORT "LCD_G[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_R[4]" 38;
IO_PORT "LCD_R[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_R[3]" 39;
IO_PORT "LCD_R[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_R[2]" 40;
IO_PORT "LCD_R[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_R[1]" 41;
IO_PORT "LCD_R[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LCD_R[0]" 42;
IO_PORT "LCD_R[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "tx" 71;
IO_PORT "tx" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "rx" 86;
IO_PORT "rx" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
